@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&display=swap%22");
* {
  font-family: "Raleway", sans-serif;
}

*{ box-sizing: border-box;}

/* TOP NAV 1440px moyenne */

.marge_gen {
  margin: 0 45px 0 45px;
}

.tbnav {
  display: flex;
  height: 110px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 75%;
  padding: 35px 0px 20px 5px;
}

.tbh {
  width: 170px;
  padding: 35px 0px 0 0;
  text-align: center;
  border-top: 2px solid white;
  justify-items: auto;
}

.tba {
  float: left;
  width: 170px;
  padding: 35px 0 0 0px;
  text-align: center;
  border-top: 2px solid white;
}
.tba a,
.tbh a {
  text-decoration: none;
  color: black;
}

.tbh:hover a,
.tba:hover a {
  color: #0065fc;
}

.tbh:hover,
.tba:hover {
  border-top: 2px solid #0065fc;
}

#cutclear {
  display: none;
}

.hone {
  font-size: 140%;
  margin-bottom: 1%;
}

/*FORMUMAIRE*/

.formgen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 425px;
  height: 50px;
  margin-top: 1%;
}


.fa-solid.fa-location-dot {
  display: flex;
  width: 50px;
  height: 54px;
  font-size: 120%;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  border: #f2f2f2 solid 1px;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.inputform {
  height: 54px;
  width: 230px;
  border: #f2f2f2 solid 1px;
  font-weight: bold;
  font-size: 120%;
  padding-left: 4%;
}

.inputform::placeholder {
  color: #0065fc;
}

.inputform:focus {
  outline: none;
}


#btwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 54px;
  font-weight: bold;
  background: #0065fc;
  border: #0065fc solid 1px;
  border-radius: 0 20px 20px 0;
  color: white;
  font-size: 120%;
}

.fa-solid.fa-magnifying-glass {
  display: none;
}

/* FILTRE */

.filtres {
  display: flex;
  align-items: center;
  width: 930px;
  height: 50px;
  margin-top: 35px;
  font-weight: 80%;
  margin-bottom: 3%;
  font-weight: bold;

}

.htwo{
  margin-right: 30px
}

/* money */
.money{
  height: 50px;
  width: 190px ;
  display: flex;
  align-items: center;
  border: #f2f2f2  solid 1px;
  border-radius: 50px;
  
  
  
}

.fa-money-bill-wave{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#DEEBFF ;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  
}

/*child*/

.child{ 
  
  height: 50px;
  width: 150px ;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #f2f2f2 solid 1px;
  border-radius: 50px;
  margin: 0 25px;

}

.fa-child{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DEEBFF;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  
}

/*romantique*/

.romantique{
  height: 50px;
  width: 180px ;
  display: flex;
  align-items: center;
  border: #f2f2f2  solid 1px;
  border-radius: 50px;
  margin-right: 25px;
}

.romantique > i:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DEEBFF;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;

}

/*dog */

.dog{
  height: 50px;
  width: 235px ;
  display: flex;
  align-items: center;
  border: #f2f2f2 solid 1px;
  border-radius: 50px;
 

}

.dog > i:nth-child(1){

  display: flex;
  justify-content: center;
  align-items: center;
  background: #DEEBFF;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 18px;


}




















/* TABLETTE */


@media screen and (max-width: 992px) {
  .hone {
    font-size: 140%;
    margin-top: 2%;
  }
}



























/* MOBILE 380px moyenne*/

/*topnavmobile*/

@media screen and (max-width: 768px) {
  .marge_gen {
    margin: 0;
  }

  .blocksearch {
    margin: 0px 20px 0 20px;
  }

  #cutclear {
    display: block;
  }

  .tbnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 7%;
    margin: 0;
    padding: 0;
  }

  .tbnav .logo {
    width: 100%;
    text-align: center;
    padding: 20px 5px 0 0;
  }

  .tbh {
    width: 50%;
  }

  .tba {
    flex: content;
  }

  .tbh:hover,
  .tba:hover {
    border-top: 4px solid white;
    border-bottom: 4px solid #0065fc;
  }

  .tbh,
  .tba {
    padding: 25px 0 15px 0;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
  }

  .hone {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 140%;
  }

  /* FORMULAIRE */

  .formgen{
      display: flex;
      justify-content: center;
      width: 340px;
      height: 54px;
      margin-right: 0;
      margin-top: 50px;
     border: #f2f2f2 solid 1px;
     border-radius: 20px;
     
      
  }


#btwo{
    display: none;
}


.fa-solid.fa-magnifying-glass{

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50px;
    border-radius: 0;
    border: #0065fc solid 1px;
    background: #0065fc;
    color: white;
    border-radius: 20px;
    
}


#localform{
    border: none;
    width: 238px;

}




}
